{% extends 'base.html.twig' %}

{% block title %}{{ 'home.nav.home'|trans }}{% endblock %}

{% block body %}
    <section id="home" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">

                {% for page in pages  %}
                    <div class="col-md-6 col-sm-12">
                        <div class="home-info">
                            <h1>{{ page.title }}</h1>
                            <span>
                                {{ page.content|raw }}
                              </span>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-8 col-sm-12 col-lg-offset-1">
                        <div class="home-info">
                            <h1>
                               Sidi à coeur de vous donner la possibilité de concevoir un site internet sur mesure totalement personnalisé, en parfaite adéquation avec vos attentes !
                            </h1>
                            <a href="{{ path('contact') }}" class="btn section-btn smoothScroll">Ecrivez-moi</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

