.js-dropdown ul.dropdown-menu li:hover {
    background-color : #d5cdcd;
}

.js-dropdown ul.dropdown-menu li a {
   /*  color : #ce3232;*/
    color : #353131;
}
label[for='change_password_form_plainPassword_first'],
label[for='change_password_form_plainPassword_second'] {
    color: #fff;
}
form[name="change_password_form"] div ul > li {
    list-style: none;
    color: red;
}

.admin-show {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.admin-margin {
    margin-top: 18px;
    margin-bottom: 21px;
}

.admin-new {

}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        text-align: center;

    }
    #status {
        display: block;
        margin: 7px 10px;
    }
    #is_connected {
        display: block;
    }
}