.js-dropdown ul.dropdown-menu li:hover {
    background-color : #d5cdcd;
}

.js-dropdown ul.dropdown-menu li a {
   /*  color : #ce3232;*/
    color : #353131;
}
label[for='change_password_form_plainPassword_first'],
label[for='change_password_form_plainPassword_second'] {
    color: #fff;
}
form[name="change_password_form"] div ul > li {
    list-style: none;
    color: red;
}