{% extends "base.html.twig" %}
{% block footer '' %}
{% block header %}
    <div class="pull-right btn btn-default" style="margin: 39px">
        <a href="{{ path('home') }}">Aller sur le site</a>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div style="margin-top: 4em;">
                    <h1>
                        <a href="{{ path('article_index') }}">Article</a>
                    </h1>
                </div>
                <hr>
                <div>
                    <h1>
                        <a href="{{ path('tag_index') }}">Tag</a>
                    </h1>
                </div>
                <hr>
                <div>
                    <h1>
                        <a href="{{ path('user_index') }}">User</a>
                    </h1>
                </div>
            </div>
            <div class="col-md-9" style="border-left: 1px solid">
                {% block body_content '' %}
            </div>
        </div>
    </div>
{% endblock %}

