{% extends 'admin/layout.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body_content %}
    <h1>Edit Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="">
        <div>
            {{ include('article/_delete_form.html.twig') }}
        </div>
        <div>
            <a class="btn btn-default" href="{{ path('article_index') }}">< back to list</a>
        </div>
    </div>
{% endblock %}
