{% extends 'admin/layout.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body_content %}
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="admin-show">
        <div>
            {{ include('user/_delete_form.html.twig') }}
        </div>
        <div>
            <a class="btn btn-default" href="{{ path('user_index') }}">< back to list</a>
        </div>
    </div>
{% endblock %}
